apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ingest.secret" . }}
data:
  DATABASE_URL: {{ .Values.ingest.db_url | b64enc | quote }}
  INGESTER_DATABASE_CONFIG: {{ ( printf "{listener_channel=\"backfill_item_added\", url=\"%s\"}" .Values.ingest.db_url ) | b64enc | quote }}
  INGESTER_MESSENGER_CONFIG: {{ ( printf "{connection_config={batch_size=1000,redis_connection_str=%s}, messenger_type=\"Redis\"}" .Values.ingest.redis_url ) | b64enc | quote }}
  INGESTER_RPC_CONFIG: {{ ( printf "{url=%s, commitment=\"finalized\"}" .Values.ingest.rpc_url ) | b64enc | quote }}
