[package]
name = "digital_asset_types"
version = "0.6.8"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["json_types", "sql_types"]
json_types = ["serde", "serde_json"]
sql_types = ["sea-orm"]

[dependencies]
spl-concurrent-merkle-tree = { version = "0.1.2" }
sea-orm = { optional = true, version = "0.10.6", features = ["macros", "runtime-tokio-rustls", "sqlx-postgres", "with-chrono", "mock"] }
sea-query = { version = "0.28.1", features = ["postgres-array"] }
serde = { version = "1.0.137", optional = true }
serde_json = { version = "1.0.81", optional = true, features=["preserve_order"] }
bs58 = "0.4.0"
borsh = { version = "0.9.3", optional = true }
borsh-derive = { version = "0.9.3", optional = true }
solana-sdk = { version = "1.14.10" }
num-traits = "0.2.15"
num-derive = "0.3.3"
thiserror = "1.0.31"
blockbuster = { version = "0.7.2"}
jsonpath_lib = "0.3.0"
mime_guess = "2.0.4"
url = "2.3.1"
futures = "0.3.25"
reqwest = "0.11.13"
async-trait = "0.1.60"
tokio = { version = "1.22.0", features = ["full"] }
schemars = "0.8.6"
schemars_derive = "0.8.6"

[patch.crates-io]
blockbuster = { git = "https://github.com/metaplex-foundation/blockbuster", branch="1.14" }
anchor-lang = { git="https://github.com/metaplex-foundation/anchor" }
mpl-token-metadata = { git="https://github.com/metaplex-foundation/metaplex-program-library", branch="update-deps"}
mpl-candy-machine-core = { git="https://github.com/metaplex-foundation/metaplex-program-library", branch="update-deps"}
mpl-bubblegum = { git="https://github.com/metaplex-foundation/metaplex-program-library", branch="update-deps"}
mpl-candy-guard = { git="https://github.com/metaplex-foundation/mpl-candy-guard", branch="update-deps"}
