name: Deploy Devnet/Testnet
on:
  release:
    types: [published]
  workflow_dispatch:
env:
  RUST_TOOLCHAIN: stable
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: devnet
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            console.log(${{ github.event.action }});
            let params =  {
              owner: "metaplex-foundation",
              repository: "read-api-deployment"
            };
            await github.rest.repos.createDispatchEvent(Object.assign({
              event_type: "deploy_trigger",
              client_payload: {
                DEPLOY_ENV:"devnet",
                DEPLOY_K8S_NAMESPACE: "devnet-read-api",
                DEPLOY_VERSION: ${{ github.sha }}
              }
            }, params));